<main class="main">
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank"
        >Link</a
      >
    </div>
  </section>

  <section>
    <mat-form-field (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <mat-label>Date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matInput
          [formControl]="startDate"
          matStartDate
          placeholder="Start date"
        />
        <input
          matInput
          [formControl]="endDate"
          matEndDate
          placeholder="End date"
        />
      </mat-date-range-input>
      @if(isHovering){
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      }
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </section>
</main>

<router-outlet />
